* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;}
#nav, #feature, .article, #footer {
  background-color: #efefef;
  margin-top: 2em
  padding:1em 0em 0.5em 0em
}
#feature, .article {
  height: 10em;
}
